
@{
    ViewData["Title"] = "Pagina Principal";
}

@section Scripts {
    <script type="text/javascript">


        function SetResetDB() {

            var database = $("#ddlDB").val();

            $.ajax({
                url: '@Url.Action("SetResetDb", "Home")',
                type: "post",
                data: { db: database },
                cache: false,
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }


    </script>
}



<div class="panel panel-default" style="margin-top:10px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8 " style="margin-top:8px">
               <span class="label label-info">Dashboard</span>
            </div>
            <div class="col-lg-3 ">
                <select id="ddlDB" class="form-control">
                    <option value="out">Sql Server</option>
                    <option value="in">Memory Storage</option>
                </select>
            </div>
            <div class="col-lg-1 ">
              <input id="btnReset" type="button" class="btn btn-default btn-sm" value="ResetDB" onclick="SetResetDB();"/>
            </div>
        </div>
    </div> 
    <div class="panel-body">

    </div>
</div> 







