
@{
    ViewData["Title"] = "Pagina Principal";
}

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            GetinfoDashboard();
        })


        function SetResetDB() {

            var database = $("#ddlDB").val();

            $.ajax({
                url: '@Url.Action("SetResetDb", "Home")',
                type: "post",
                data: { db: database },
                cache: false,
                success: function (retorno) {
                    $("#listPaisxServ").html(retorno);
                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }
        function GetinfoDashboard() {

            var database = $("#ddlDB").val();

            $.ajax({
                url: '@Url.Action("GetDashboard", "Home")',
                type: "post",
                data: { db: database },
                cache: false,
                success: function (retorno) {
                    $("#listPaisxServ").html(retorno);
                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }

    </script>
}



<div class="panel panel-default" style="margin-top:10px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-7 " style="margin-top:8px">
               <span class="label label-info">Dashboard</span>
            </div>
            <div class="col-lg-2 ">
                <input  type="button" class="btn btn-default btn-sm" value="Cargar Datos" onclick="GetinfoDashboard();" />
            </div>
            <div class="col-lg-2 ">
                <select id="ddlDB" class="form-control">
                    <option value="out">Sql Server</option>
                    <option value="in">Memory Storage</option>
                </select>
            </div>
            <div class="col-lg-1 ">
              <input id="btnReset" type="button" class="btn btn-danger btn-sm" value="ResetDB" onclick="SetResetDB();"/>
            </div>
        </div>
    </div> 
    <div class="panel-body">
        <div id="listPaisxServ"></div>
    </div>
</div> 







