@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<script type="text/javascript">

    function GetClients() {
        $.ajax({
            url: '@Url.Action("GetClients", "Home")',
            type: "post",
            cache: false,
            success: function (retorno) {

                $("#listActividad").html(retorno);

            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }

</script>
}

<div class="row">
    <div class="col-lg-12 ">
        <div class="well">hola mundo</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 ">
        <input type="button" class="btn btn-success" value="Cargar" onclick="GetClients();" />
    </div>
</div>
<div class="row">
    <div class="col-lg-12 ">
        <div id="listActividad"></div>
    </div>
</div>
